* {
  margin:0px;
  padding:0px; 
}

#octocat {
  display: flex;
  flex-direction: row-reverse;
  width:284px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}


.myPDF {
   
 display: block;
  width: 500px;
  margin: 50px auto;
  padding: 2px 2px 2px 2px;
  background-image:linear-gradient(to left, #0052b0 ,#b340b3); 

}

.myPDF iframe{
  
  justify-content: center;  
  align-items: center;
 width: 150px;
max-width: 200px;
height: 150px;
  border-radius: 10px;
 
  }

#gallery{
  justify-content: center;  
padding-bottom: 10.25%;
 display: auto;
object-fit: cover;
position: relative;
  overflow: show;
  background-image:linear-gradient(to right, ##0052b0 ,#b340b3; 
}

#gallery iframe{
width: 100%;
max-width: 350px;
height: 100%;
object-fit:cover;
  border-radius: 10px;
}
