* {
  margin:0px;
  padding:0px; 
}

#octocat {
  display: flex;
  flex-direction: row-reverse;
  width:284px;
  margin: 50px auto;
}

p,b {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

section {
 
}

.myPDF {
   justify-content: center;  align-items: center;
  align-items: center;
padding-top: 56.25%;
 display: flex;
object-fit: cover;
position: relative;
  overflow: show;
  background-image:linear-gradient(to left, #0052b0 ,#b340b3); 

}

.myPDF iframe{
  justify-content: center;
  
object-fit: cover  ;
  border-radius: 10px;
  position: absolute;

  width: 50%;
  height: 50%;
 
  }

#gallery{
  ustify-content: center;  align-items: center;
  align-items: center;
padding-top: 10.25%;
 display: flex;
object-fit: cover;
position: relative;
  overflow: show;
  background-image:linear-gradient(to right, #0052a0 ,#b350b3); }

#gallery iframe{
width: 100%;
max-width: 350px;
height: 100%;
object-fit: cover  ;
  border-radius: 10px;
}
