* {
  margin:0px;
  padding:0px; 
}

#octocat {
  display: flex;
  flex-direction: row-reverse;
  width:284px;
  margin: 50px auto;
}

p,b {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

section {
  background-color: apple-green; 
  background-image: linear-gradient(to right, #0052b0 ,#b340b3); 
}

.myPDF {
 width: 50%;
 height:355px;
margin-top: 25px;
margin-right: 10px;
margin-bottom: 15px; margin-left: 20px;
 display: flex;
object-fit: cover;


}
#gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: auto default;
  align-items: auto default;
  gap: 16px;
  max-width: 1400px;
  margin:auto 0px auto;
  padding: 20px 10px;  
}
#gallery img{
width: 100%;
max-width: 350px;
height: 300px;
object-fit: cover  ;
  border-radius: 10px;
}
